.bay{
    background: linear-gradient(0deg, rgba(42, 169, 21, 0.37) 0%, rgba(42, 169, 21, 0) 100%);
    padding-top: 190px;
    padding-bottom: 101px;
}

.bay-title{
    text-align: center;
    margin-bottom: 40px;
}
.bay__button-wraper{
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 80px;
    width: 319px;
    height: 100px;
    box-shadow: 0 4px 28px 0 rgba(27, 17, 8, 0.06);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.57) 0%, rgba(255, 255, 255, 0.71) 0.01%, rgba(255, 255, 255, 0.06) 100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;       
}
.bay__button-icon{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: var(--green-color);
    padding: 7px 6px 0px 6px;
    margin-left: 12px;
}
.bay__button{
    padding: 13px;
    margin-right: 23px;
    border-radius: 37px;
    font-weight: 500;
    font-size: 16px;
    color: var(--white-color);
    align-items: center;
    background: linear-gradient(130deg, #30c917 0%, #279a13 100%);
}
.bay__button:focus,.bay__button:hover{
   padding: 11px
}
.bay__button:active{
    padding: 13px
}
.bay__button-pic{
    margin-left: 6px;
}

