.site-bg{
    height: 1810px;
    background-image: url(../../img/site-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 106px;
}
.header{
   padding-top: 20px;
   margin-bottom: 123px;
}
.header__container{
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    align-items: center;
}
.header__logo--icon{
    background-image: url(../../img/svg/header-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 33px;
    width: 33px;
    margin-right: 6px;
}
.header__logo--txtlogo{
    background-image: url(../../img/svg/header-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15px;
    width: 112px;
}
.header__list{
    font-weight: 400;
    font-size: 18px;
    color: var(--darck-color);
}
.header__list-items:last-child{
    margin-right: 169px;
    margin-left: 56px;
}
.header__list-items:first-child{
    margin-right: 59px;
}
.header__btn{
    padding: 13px 49px;
    font-weight: 500;
    font-size: 18px;
    color: var(--white-color);
    border-radius: 8px;
    background: linear-gradient(130deg, #30c917 0%, #279a13 100%);
}
.header__btn:focus,.header__btn:hover{
    color: var(--green-color);
    background: rgba(27, 17, 8, 0.12);
    border: 2px solid  var(--green-color);
    padding: 11px 47px;
}
.header__btn:active{
    color: var(--white-color);
    background: rgba(191, 188, 184, 0.44);
    border: none;
    padding: 13px 49px;
    
}